block feet
  ul
    li
      img(src='./images/angle-left.svg' class='controlButton' id='backButton')
    li
      img(src='./images/play.svg' class='controlButton' id='playButton')
    li
      img(src='./images/angle-right.svg' class='controlButton' id='forwardButton')